.container {
    width: 100%; 
    background-color: #fff; 
    border-bottom: 1px solid #ccc; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
    z-index: 1000; 
    padding: 10px 0;
    display: flex;
    margin-top: 25px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}
.inputCategoria {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #393838;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    width: 20%;
    max-width: 600px;
    margin: 5px;
}

.inputCategoria:focus {
    border-color: #007bff;
}

.inputCategoria::placeholder {
    color: #888;
}

.inputOrdenamiento {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #393838;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    width: 20%;
    max-width: 600px;
    margin: 5px;
}


.slider {
    margin: 0 20px;
    width: 20%;
}

.precioLabel {
    color: #333;
    font-size: 16px;
}
